<h2><%= @user.username %>'s Stats</h2>

<table>
  <thead>
    <th>Score</th>
    <th>Level Reached</th>
    <th>Date</th>
  </thead>
  <tbody>
    <% @personal_top_games.each do |game| %>
      <tr>
        <td><%= game.final_score %></td>
        <td><%= game.levels.length + 1 %></td>
        <td><%= game.pretty_time %></td>
      </tr>
    <% end %>
  </tbody>
</table>
