<h2>High Scores</h2>

<table>
  <thead>
    <th>User</th>
    <th>Score</th>
    <th>Level Reached</th>
    <th>Date</th>
  </thead>
  <tbody>
    <% @all_top_games.each do |game| %>
      <tr>
        <td><%= link_to game.username, user_path(game.username) %></td>
        <td><%= game.final_score %></td>
        <td><%= game.level_num %></td>
        <td><%= game.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>