<% if current_user %>
  $("#nav_links").load("/games/new #nav_links");
  $("#content").append('<div id="game_save_form"><%= j render :partial => "/games/new_game_form", :locals => { :game => @game } %></div>');
<% end %>

if ($("#login_form").is(":visible")) {
  $("#login_form").slideUp(200, function () {
    $("#login_form p").remove();
    $("#nav_links").slideDown(200);
  });
} else if ($("#signup_form").is(":visible")) {
  $("#signup_form").slideUp(200, function () {
    $("#signup_form p").remove();
    $("#nav_links").slideDown(200);
  });
};
