form {
  display: inline;
}

#login_form, #signup_form {
  display: none;
}

input {
  margin-right: 25px;
  border: none;
  font-size: 1em;
  letter-spacing: 1px;
  padding: 5px 10px;
}

input:last-child {
  margin-right: 0;
}

input[type="text"], input[type="password"] {
  width: 15%;
}

input[type="submit"], button {
  background-color: #999;
  color: #fff;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 3px;
  border: none;
}

input[type="submit"]:active, input[type="submit"]:hover, input[type="submit"]:focus, button:active, button:hover, button:focus {
  background-color: #666;
}

.errors {
  font-size: 0.75em;
  margin-top: 3px;
}
