/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

#butterfly {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 25px;
  max-height: 60%;
}

#sections {
  cursor: pointer;
}

#game_nav {
  margin-top: 15px;
  height: 5em;
}

#game_nav p {
  font-size: 1.25em;
  margin: 0 20px 0 0;
}

#game_messages {
}

.messages_center {
  text-align: center;
}

.messages_left {
  text-align: left;
  float: left;
}

#start_button {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 3em;
  padding-left: 15px;
  padding-right: 15px;
}

#game_timer {
  font-weight: bold;
}

#score_calc {
}

#score {
  font-weight: bold;
}

.red {
  fill: #f9a198;
}

.yellow {
  fill: #fff276;
}

.green {
  fill: #7bd6b3;
}

.blue {
  fill: #9898ed;
}

.test {
  background-color: #9898ed;
}
