/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

#butterfly {
  margin-top: 25px;
  max-height: 60%;
}

#game_nav {
  margin-top: 25px;
  text-align: center;
  height: 4em;
}

#start_button {
  font-size: 3em;
  padding-left: 15px;
  padding-right: 15px;
}

#game_timer p {
  font-size: 3em;
  margin: 0;
}

.red {
  fill: #f9a198;
}

.yellow {
  fill: #fff276;
}

.green {
  fill: #7bd6b3;
}

.blue {
  fill: #9898ed;
}
